body {
  padding-top: 50px;
  font-family: 'Gentium Basic', serif;
  font-size: 1rem;
  background-color: #f8f9fa;
}

@media (min-width: 576px) {
  body {
    font-size: 1.2rem;
  }
}

header {
  background-color: rgba(33, 33, 33, 0.9);
  position: relative;
  z-index: 5;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-bottom: 1.5rem;
}

.welcome {
  position: relative;
  z-index: 2;
  padding: 4rem 2rem;
  color: #f8f9fa;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url("/images/stars.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.twinkling {
  background: transparent url("/images/twinkling.png") repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

a {
  color: #28a745;
}

img.link:hover {
  cursor: pointer;
}

#popup-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;
  display: none;
  overflow: hidden;
}

#popup {
  position: relative;
  top: 15%;
  padding: 0 20px 30px 20px;
  background: #fff;
  border: 2px solid #28a745;
  width: 70%;
  left: 15%;
}

@media (min-width: 682px) {
  #popup {
    width: 30%;
    left: 35%;
  }
}

#popupClose {
  float: right;
  margin-right: -30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin-top: -15px;
}

#popupClose:hover {
  cursor: pointer;
}

#error-message {
  display: none;
}

.green {
  color: #28a745;
}

#register-desc {
  color: #8e8e8e;
}

@media (min-width: 682px) {
  #register-desc {
    font-size: 1.2rem;
  }
}

#campgrounds-area-row {
  display: flex;
  flex-wrap: wrap;
}

.btn-group-sm > .btn, .btn-sm {
  font-size: 1rem;
}

.fa-dollar-sign,
.fa-star,
.fa-star-half-alt {
  font-size: 1rem;
}

.campground-image {
  max-width: 100%;
}

.amenity-span {
  font-size: 85%;
  margin: 2px 0;
  color: white;
  background-color: #c3c3c3;
}

.amenity-span.active {
  background-color: #28a745;
}

.amenity-span:hover {
  cursor: pointer;
  background-color: #28a745;
}

#star-1:hover,
#star-2:hover,
#star-3:hover,
#star-4:hover,
#star-5:hover {
  cursor: pointer;
}

#comment-form-container {
  display: none;
  padding: 1rem;
}

footer {
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  footer {
    font-size: 1rem;
  }
}
